*, *:before, *:after {
  box-sizing: border-box; }

p {
  margin: 0px; }

html, body {
  height: 100%; }

body {
  font-family: Arial, sans-serif;
  font-size: 100%;
  line-height: 1;
  min-width: 320px;
  overflow-x: hidden;
  border-color: #569FC8;
  background-image: url(../img/frozen.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }

main {
  height: 100%; }

.wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 0px 10px; }

.center {
  position: relative;
  max-width: 425px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #dcdcdc;
  padding: 40px 60px;
  border: 2px solid blue;
  border-radius: 5px; }

h1 {
  font-size: 30px;
  font-style: italic;
  color: blue;
  padding: 2px 5px;
  margin-bottom: 40px;
  text-align: center;
  border-bottom: 1px solid blue; }

form {
  margin-bottom: 30px; }

.left_part, .rigth-part {
  display: inline-block; }

.first_factor, .increase, .second_factor, .equally {
  color: #191970;
  font-size: 35px; }

#customers_result {
  max-width: 200px;
  font-size: 30px;
  border: 2px solid #7b68ee;
  padding: 10px; }

.result {
  display: block;
  font-size: 30px;
  height: 30px;
  margin-bottom: 20px; }

.count_wrapper {
  padding: 3px; }

.correctly_answer {
  color: green; }

.wrong_answer {
  color: blue; }

@media screen and (max-width: 576px) {
  .center {
    padding: 20px 30px; }
  #customers_result {
    max-width: 170px; } }

@media screen and (max-width: 350px) {
  .center {
    padding: 10px 12px; }
  #customers_result {
    font-size: 25px; }
  .first_factor, .increase, .second_factor, .equally {
    font-size: 30px; }
  .result {
    font-size: 20px;
    height: 20px; } }
